.history {
  background-color: grey;
  height: 200px;
  width: 1000px;
  margin: 0 auto;
}
.text1 {
  text-align: center;
  color: black;
}

.text2 {
  text-align: center;
  color: blue;
  margin: -48px 4px 0px 0px;
}

.ptext {
	text-align: justify;
	background-color: white;
	text-indent: 5em;
	padding-left: 2em;
 	padding-right: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
	width: 800px;
	border-right: 5px double blue;
}
